* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding-left: 0.5em;
    /* background-color: #3C3228; */
    background-image: url(../img/up.jpg), linear-gradient(to bottom, rgba(61, 51, 41, 1), rgba(196, 132,132, 0.3));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Georgia, "Times New Roman", Times, serif;

}

main #contact {
    min-height: 100vh;
    min-width: 80vh;
    padding-left: 0.5em;
    background-image: url(../img/post_card.jpg), linear-gradient(to bottom, rgba(61, 51, 41, 1), rgba(196, 132,132, 0.3));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #7E9FCC;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.background-light{
    background-color: rgba(255,255,255,.8);
}

.background-dark{
    /*  background-color: rgba(61, 51, 41, 0.9); */
/* background-image: linear-gradient(to right, rgba(61, 51, 41, 1), rgba(204, 148, 148, 0.1));*/
    background-image: linear-gradient(to right, rgba(61, 51, 41, 1), rgba(196, 132,132, 0));
}

.btn-group {
    width: 8em;
    height:4em;
    background-image: linear-gradient(to bottom, rgba(61, 51, 41, 1), rgba(196, 132,132, 0));
}


.btn-small {
    width: 3em;
    height:2em;
    background-image: linear-gradient(to bottom, rgba(61, 51, 41, 1), rgba(196, 132,132, 0));
}

/* #timeline, .timeline {
background-color: rgba(204, 148, 148, 0.4);
} */

.navbar {
    background-position: left top;
}


footer {
    background-image: linear-gradient(to bottom, rgba(61, 51, 41, 1), rgba(196, 132,132, 0));
}


h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-item a {
    color: #7E9FCC;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: x-large;
}

.nav-item a:hover {
    background: #B0C2D8
}

/*             ------------------------------------ */


ul.timeline {
    list-style-type: none;
    position: relative;
}

#timeline a {
    color: #331107;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: x-large;
}

#lastCheck, #confirmation {
    text-align: center;
    text-emphasis-position: over;

}

#lastCheck h2, #confirmation h2 {
    background: #B0C2D8;
}

/* #timeline, .timeline {
    background-color: rgba(196, 132, 132, 0.6);
} */
