{% extends 'base.html.twig' %}

{% block title %}bookingOrderDetail!{% endblock %}

{% block body %}

    <script>     </script>
    <div class = "row">
        <div class= "col-md-12" id= "cart">

            {{ form_start(form) }}


            <h3>{% trans %} Your orders {% endtrans %} </h3>

            {#  {{ form_row(form) }} #}
            {% for visitor in form.visitors %}
                <li> class= "visitors"
                    {% include('inc/_visitor.html.twig') %}
                </li>

            {% endfor %}


          {{ form_rest(form) }}

            <input type="submit" class="btn btn-primary" value= "{% trans %} Go ahead {% endtrans %} " />

            {{ form_end(form) }}

        </div>
    </div>
    <script>
    </script>
{% endblock %}