{% extends 'base.html.twig' %}

{% block title %}
    <h2>{% trans %} To contact us {% endtrans %} </h2>
{% endblock %}


    {% block main %}
    <div id="contact">
        {{ form_start(form) }}

        {{ form_rest(form) }}

        <button type = "submit" class="background-dark float-right" value="{% trans %} Send {% endtrans %} ">
            <p>Send</p>
            <img src="{{ asset('img/button_75.png') }}" />
        </button>


        {{ form_end(form) }}
    </div>
    {% endblock %}

    {% block aside %}

    {% endblock %}


