{% extends 'base.html.twig' %}

{% block title %}
    <h2>{% trans %} To contact us {% endtrans %} </h2>
{% endblock %}


{% block body %}
    {{ form_start(form) }}

    {{ form_end(form) }}

{% endblock %}

{% block aside %} {% endblock %}

