{% set vars = {'level': '4'} %}
{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block header %}
    <h2>{% trans %}your_reference{% endtrans %} </h2>
    <h3 class= "text-align-center text-justify"> {{ bookingOrder.bookingRef }}</h3>
{% endblock %}

{% block main %}

{% endblock %}


{% block aside %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
