{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block main %}
    {#
    {% include 'inc/_workflow.html.twig' with {'level': '4'} only %} #}
    <h3>{% trans %}Payment_confirmed {% endtrans %}   </h3>
    <p>{% trans %}Order_being_processed{% endtrans %} </p>

    <h4>{% trans %}confirmation_to{% endtrans %} {{ bookingOrder.customer.email }} {% trans %} under_way {% endtrans %} </h4>

    <p>{{ bookingOrder.wishes }}  {% trans %}visitor(s)_expected_on{% endtrans %}  {{ bookingOrder.expectedDate | date("d/m/Y") }}  </p>

    {% if bookingOrder.visitors is defined %}

        {% include 'inc/_visitor.html.twig'  %}

    {% else %}
        <p>{% trans %}no_visitor_found{% endtrans %}</p>
    {% endif %}

{% endblock %}

{% block aside %}
    {% set vars = {'level': '4'} %}
    {% include 'inc/_timeline.html.twig' with vars %}
{% endblock %}

