{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block main %}
    {#
    {% include 'inc/_workflow.html.twig' with {'level': '4'} only %} #}


<div id="endBooking">
    <h2>{% trans %}confirmation_to{% endtrans %} <br>
        {{ bookingOrder.customer.email }} <br> {% trans %}is_under_way {% endtrans %} </h2>
</div>

{% endblock %}

{% block aside %}
    {% set vars = {'level': '4'} %}
    {% include 'inc/_timeline.html.twig' with vars %}
{% endblock %}

