{% extends 'base.html.twig' %}

{% block title %}
    <h2>{% trans %}SnapLouvre_contact {% endtrans %} </h2>
{% endblock %}

    {% block main %}
    <div id="contact">
        {{ form_start(form) }}

        {{ form_rest(form) }}

        {{ include('inc/_button.html.twig') }}

        {{ form_end(form) }}
    </div>
    {% endblock %}

    {% block aside %}

    {% endblock %}


