{% extends 'base.html.twig' %}

{% block title %}visitors{% endblock %}

{% block body %}
    {% set vars = {'level': '2'} %}

    {% include 'inc/_workflow.html.twig' with vars only %}
    <div class = "row">
        <div class= "col-md-12" id= "cart">

            {{ form_start(form) }}


            <h3>{% trans %} Your order {% endtrans %} </h3>

            {{ form_row(form) }}



          {{ form_rest(form) }}

            <input type="submit" class="btn btn-primary" value= "{% trans %} Go ahead {% endtrans %} " />

            {{ form_end(form) }}

        </div>
    </div>
    <script>
    </script>
{% endblock %}