<div class="d-flex justify-content-between">

    <button type="submit" class="btn-group background-dark float-right"
          name="cancel" value="cancel">
        <img src="{{ asset('img/cancel_sm.png') }}"/>
       {% trans %}back{% endtrans %}
    </button>
    <button type="submit" class="btn-group background-dark float-right"
          name="next"  value="next">
        <img src="{{ asset('img/go_sm.png') }}"/>
        {% trans %}next{% endtrans %}
    </button>
</div>